.logocarro{
    padding-top: 22px;
    padding-right: 10px;
}

.contadorcarro {
    color: rgb(246, 172, 23);
    border-radius: 50%; 
    width: 24px; 
    height: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 11, 11); 
  }