
.headermain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black; 
    color: white; 
  }
  
  .imagenlogo {
    max-width: 100px; 
    height: auto;
  }
  
  .categoriasnav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botoncategoria {
    margin: 0 10px;
    font-size: 16px;
    color: white; 
    text-decoration: none;
  }
  
 
  .cart-link {
    margin-right: auto; 
  }
  

  @media screen and (max-width: 768px) {
    .headermain {
      flex-direction: column;
      padding: 10px;
    }
  
    .imagenlogo {
      max-width: 100px; 
    }
  
    .categoriasnav {
      margin-top: 20px;
    }
  
    .botoncategoria {
      margin: 5px;
      font-size: 14px;
    }
  }
  