section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
  gap: 1rem;
}
